In [7]:
import numpy as np
import pandas as pd
import random

In [5]:
results = [12,34,67,55,28,90,99,12,3,56,74,44,87,23,49,89,87]
bins = [0,25,50,75,100]
cat = pd.cut(results, bins)
cat

[(0, 25], (25, 50], (50, 75], (50, 75], (25, 50], ..., (75, 100], (0, 25], (25, 50], (75, 100], (75, 100]]
Length: 17
Categories (4, interval[int64, right]): [(0, 25] < (25, 50] < (50, 75] < (75, 100]]

In [9]:
random_data = np.random.randint(1,100,10000000)
bins = [0,10,20,30,40,50,60,70,80,90,100]
cat = pd.cut(random_data,bins)
pd.value_counts(cat)

(40, 50]     1011868
(20, 30]     1010730
(70, 80]     1010566
(60, 70]     1010443
(50, 60]     1010179
(0, 10]      1009993
(30, 40]     1009578
(80, 90]     1009087
(10, 20]     1008430
(90, 100]     909126
dtype: int64

In [10]:
ndata = np.random.randn(100000)
bins=[-1.0,-0.8,-0.2,0,0.2,0.4,0.6,0.8,1.0]
cat =pd.cut(ndata,bins)
pd.value_counts(cat)

(-0.8, -0.2]    20855
(-0.2, 0.0]      7970
(0.0, 0.2]       7938
(0.2, 0.4]       7589
(0.4, 0.6]       7093
(0.6, 0.8]       6289
(-1.0, -0.8]     5438
(0.8, 1.0]       5300
dtype: int64

In [13]:
#정규분포
bins=[0.0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1.0]
udata_list = [np.random.randn() for _ in range(1000000)]

In [14]:
cat = pd.cut(udata_list,bins)
pd.value_counts(cat)

(0.0, 0.1]    40226
(0.1, 0.2]    39532
(0.2, 0.3]    38766
(0.3, 0.4]    37471
(0.4, 0.5]    35853
(0.5, 0.6]    34344
(0.6, 0.7]    32224
(0.7, 0.8]    30246
(0.8, 0.9]    27575
(0.9, 1.0]    25085
dtype: int64

In [15]:
out_df = [(np.abs(df) > (3*df.std())).any(1)]

NameError: name 'df' is not defined

# Permutation

In [17]:
nframe = pd.DataFrame(np.arange(25).reshape(5,5))
nframe

    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

In [20]:
new_order = np.random.permutation(5)
new_order

array([3, 1, 0, 2, 4])

In [19]:
nframe.take(new_order)

    0   1   2   3   4
4  20  21  22  23  24
1   5   6   7   8   9
0   0   1   2   3   4
3  15  16  17  18  19
2  10  11  12  13  14

In [21]:
new_order = [3,4,2]

In [22]:
nframe.take(new_order)

    0   1   2   3   4
3  15  16  17  18  19
4  20  21  22  23  24
2  10  11  12  13  14

# Built-in Methods for String Manipulation

In [26]:
text = '16 Bolton Avenue , Boston'

In [27]:
text.split(',')

['16 Bolton Avenue ', ' Boston']

In [28]:
tokens = [s.strip() for s in text.split(',')]

In [29]:
tokens

['16 Bolton Avenue', 'Boston']

In [30]:
address, city = [s.strip() for s in text.split(',')]

In [31]:
address

'16 Bolton Avenue'

In [32]:
city

'Boston'

# 문제
무작위로 영문자 개로 구성된 문자열 5개 준비해서 리스트에 담고 각 원소의 뒤에 '-' 기호를 추가하여 원소 전체가 한 개의 문자열이 되도록 한다. 결과 문자열 화면에 표시

In [33]:
#답
ord('a')  #97
ord('z')  #122
chr(97)   #'a'
chr(122)  #'z'

'z'

In [36]:
tmp_list = []
for _ in range(5):
    str = ''
    for _ in range(3):
        str += chr(np.random.randint(97,123))
    tmp_list.append(str)
tmp_list

['vqv', 'bmz', 'upx', 'rlb', 'pye']

In [37]:
'-'.join(tmp_list)

'vqv-bmz-upx-rlb-pye'